*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --oragen: #f7931a;
    --soft-orange: #ffE9d5;
    --blue: #1a9af7;

}

html{
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans--title h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.5rem;
    color: black;
}
.plans--title p{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}

.plans-container--slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container--card{
    position: relative;
    scroll-snap-align: center;
    width: 70%;
    min-width: 190px;
    max-width: 30ppx;
    height: 250px;
    margin: 50px 5px 0;
    padding: 0 15px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgb(89 73 30 / 16%);

}
.recomendado{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    background-color: var(--oragen);
    border-radius: 8px;
    color: white;
}
.basico{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    background-color: var(--blue);
    border-radius: 8px;
    color: white;
}
.promax{
    position: absolute;
    width: 120px;
    height: 31px;
    padding: 6px;
    left: calc(50% - 60px);
    top: -15px;
    font-size: 1.2rem;
    background-color: #0ea75a;
    border-radius: 8px;
    color: white;
}
.pland-card--title{
    padding-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: black;
}
.pland-card--price{
    padding: 5px 0;
    font-size: 5.2rem;
    font-weight: bold;
    line-height: 5.3rem;
    color: black;
}
.pland-card--saving{
    font-size: 1.2rem;
    color: #757575;
}
.pland-card--ca{
    width: 150px;
    height: 48px;
    margin-top: 20px;
    background-color: white;
    border:  2px solid var(--oragen);
    border-radius: 4px;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: black;
    cursor: pointer;
}
.pland-card--ca span{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(assets/icons/arrow-right.svg?raw=true);
    vertical-align: text-bottom;
}
.pland-card--price span{
    vertical-align: 28px;
    font-size: 1.2rem;
    font-weight: 300;
}





